<div class="chart chart-v3 chart-toggle">
    <div class="chart__block chart__block-1">
        <div class="chart__block_label">Услуги <span>(56 котировок)</span></div>
        <div class="chart__block_grid chart__block_grid-1">
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true" title='
            <div class="chart-hover">
                <ul class="chart-hover_list">
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item bg-age-4 active">
                        <div class="chart-hover_list_item_names">
                            <div class="chart-hover_list_item_name">Name</div>
                            <div class="chart-hover_list_item_name-full">Полное название</div>
                        </div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1-w.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                    <li class="chart-hover_list_item">
                        <div class="chart-hover_list_item_name">Name</div>
                        <div class="chart-hover_list_item_info">
                            <div class="chart-hover_list_item_info_ratio">
                                1000 <span class="ratio-up"></span>
                            </div>
                            <div class="chart-hover_list_item_info_chart">
                                <img src="../../../assets/img/chart-1.png" alt="">
                            </div>
                        </div>
                        <div class="chart-hover_list_item_position">
                            <div class="chart-hover_list_item_position_this">Позиция: 10</div>
                            <div class="chart-hover_list_item_position_change">
                                <img src="../../../assets/img/icons/up.png" alt="">
                                <span>6</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
'>
                <div class="chart__block_grid_item_content fz-1">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-2">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true"></div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-3">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-1" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-3">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-1" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-2">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-1">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-down"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-1" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-1">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-1" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-3">
                    <span class="chart__block_grid_item_name">FB</span>
                    <span class="chart__block_grid_item_ratio">1057 <span class="ratio-up"></span></span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-2" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-3" data-toggle="tooltip" data-placement="right" data-html="true">
                <div class="chart__block_grid_item_content fz-4">
                    <span class="chart__block_grid_item_name">FB</span>
                </div>
            </div>
            <div class="chart__block_grid_item bg-age-1" data-toggle="tooltip" data-placement="right" data-html="true"></div>
            <div class="chart__block_grid_item bg-age-4" data-toggle="tooltip" data-placement="right" data-html="true"></div>
        </div>
    </div>
    <!-- /.chart__block -->
</div>
<!-- /.chart -->