<h2 class="h2 mt-5 mb-4 pt-5">Сео текст</h2>

<p>
    Вы получаете доступ ко всем знаниям и технологиям управления бизнесом. <br>
    Прохождение специальной онлайн-школы подготовки франчайзи-партнеров. <br>
    Закрепление куратора от Управляющей компании к вашему ресторану. <br>
    Помощь в работе с персоналом и документацией. <br>
    Обучение персонала и полный комплект обучающих материалов. <br>
    Готовый брендбук с прописанными стандартами дизайна и оформления. <br>
    Персональный куратор в лице регионального директора, регулярные совещания с ТОП командой по любым вопросам, например
    закупкам, финансам, HR, маркетинге, ИТ, безопасности. <br>
    Расходные материалы, мебель и оборудование по цене в 1,5-2 раза ниже рыночной. <br>
    Единое стандартизированное меню.
</p>