<h2 class="h2 mt-5 pt-5">О компании</h2>

<div class="about">

    <div class="about__content">
        <div class="about__logo mt-4 mb-5">
            <img src="../../assets/img/company-logo.jpg" alt="">
        </div>
        <p>
            "Суши Мастер" - крупнейшая в мире сеть ресторанов доставки японской кухни.
        </p>
        <p>
            Сейчас в "Суши Мастер" больше 220 филиалов в более, чем 115 городах, в 10 странах мира.
            Из них более 170 собственных корпоративных ресторанов.
        </p>
        <p>
            В компании работают более 3200 сотрудников.
        </p>
        <p>
            Мы прошли весь путь самостоятельно: начали с нуля в Тюмени и выросли до компании
            мирового уровня.
        </p>
    </div>

    <div class="about__sidebar">
        <img src="../../assets/img/sidebar-advertising.jpg" alt="">
    </div>

</div>
<!-- /.about -->