<div class="sidebar">
    <div class="sidebar__group">
        <div class="sidebar__title">Вид котировок:</div>
        <div class="sidebar__toggle">
            <a href=".chart" class="sidebar__toggle_link sidebar__toggle_link_chart active">
                <svg class="sidebar__toggle_link_icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24">
                    <g fill-rule="evenodd">
                        <path d="M.19 0h6v8h-6zM.19 15.996h5.023v8H.19zM6.16 16h5.625v8H6.16zM12.89 16.004h6.803v8H12.89zM20.787 16h3.402v8h-3.402zM7.19 0h10v8h-10zM.19 9.109h11.645V15H.19zM12.893 9.109H24.19V15H12.893zM18.166 0h6.023v8h-6.023z"/>
                    </g>
                </svg>
            </a>
            <a href=".chart-table" class="sidebar__toggle_link sidebar__toggle_link_chart-table">
                <svg class="sidebar__toggle_link_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
                    <g fill-rule="evenodd">
                        <path d="M0 .066h24v3.716H0zM0 20.33h24v3.717H0zM0 5.158h24v3.716H0zM0 10.198h24v3.716H0zM0 15.202h24v3.716H0z"/>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="sidebar__group">
        <div class="sidebar__title">Размер блоков:</div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="blockSize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Объем инвестиций
            </button>
            <div class="dropdown-menu" aria-labelledby="blockSize">
                <a class="dropdown-item" href="#" data-target="#blockSize">Объем инвестиций</a>
                <a class="dropdown-item" href="#" data-target="#blockSize">Объем инвестиций</a>
                <a class="dropdown-item" href="#" data-target="#blockSize">Объем инвестиций</a>
                <a class="dropdown-item" href="#" data-target="#blockSize">Объем инвестиций</a>
                <a class="dropdown-item" href="#" data-target="#blockSize">Объем инвестиций</a>
                <a class="dropdown-item" href="#" data-target="#blockSize">Объем инвестиций</a>
            </div>
        </div>
    </div>
    <div class="sidebar__group">
        <div class="sidebar__title">Данные на момент времени:</div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dataTime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                По умолчанию
            </button>
            <div class="dropdown-menu" aria-labelledby="dataTime">
                <a class="dropdown-item" href="#" data-target="#dataTime">Сегодня</a>
                <a class="dropdown-item" href="#" data-target="#dataTime">Неделю назад</a>
                <a class="dropdown-item" href="#" data-target="#dataTime">Месяц назад</a>
                <a class="dropdown-item" href="#" data-target="#dataTime">3 месяца назад</a>
                <a class="dropdown-item" href="#" data-target="#dataTime">6 месяцев назад</a>
                <a class="dropdown-item" href="#" data-target="#dataTime">1 год назад</a>
            </div>
        </div>
    </div>
    <div class="sidebar__group">
        <div class="sidebar__advertising">
            <img src="../../assets/img/sidebar-advertising.jpg" alt="">
        </div>
    </div>
    <div class="sidebar__placing">
        <button class="btn main__placing_btn" data-toggle="modal" data-target="#modalPlacing">Размещение в котировке</button>
    </div>
</div>
<!-- /.sidebar -->