<div class="about-franchise">

    <div class="franchise-meta mt-5 pt-3">
        <ul class="meta-head">
            <li>Инвестиции, ₽</li>
            <li>Срок окупаемости</li>
            <li>Паушальный взнос, ₽</li>
        </ul>
        <ul class="meta-content">
            <li>
                <b><span>От </span>3&nbsp;500&nbsp;000</b><br>
                <b><span>До </span>7&nbsp;000&nbsp;000</b>
            </li>
            <li>12 - 18 мес</li>
            <li>
                <b><span>От</span> 290&nbsp;000</b>
                <br>
                <b><span>До</span> 390&nbsp;000</b>
            </li>
        </ul>
    </div>
    <!-- /.franchise-meta -->


    <ul class="franchise-features">
        <li>
            <b>2002</b>Год основания
        </li>
        <li>
            <b>2006</b>Год запуска франчайзинга
        </li>
        <li>
            <b>236</b>Франчайзинговые предприятия
        </li>
        <li>
            <b>-</b>Повторные открытия
        </li>
        <li>
            <b>6</b>Собственные предприятия
        </li>
    </ul>
    <!-- /.franchise-features -->

</div>
<!-- /.about-franchise -->