<p class="more-text">
    Каталог франшиз сравнительно недавно стал востребованным инструментом в поисках путей создания и развития
    собственного дела. Однако многие предприниматели уже оценили преимущества в таком подходе к выбору своего бизнеса.
    Чтобы быть уверенными в выгодном и эффективном…
    <span class="more-text-hidden" id="more-text-1">
        Каталог франшиз сравнительно недавно стал востребованным инструментом в поисках путей создания и развития
        собственного дела. Однако многие предприниматели уже оценили преимущества в таком подходе к выбору своего
        бизнеса. Чтобы быть уверенными в выгодном и эффективном…
    </span>
</p>

<div class="more-text__link">
    <a href="#more-text-1">Подробнее</a>
</div>