<main class="main">

    <div class="zoom">
        <div class="zoom__btn">+</div>
        <input type="range" class="custom-range" id="zoom">
        <div class="zoom__btn">-</div>
    </div>

    <div class="zoom">
        <div class="zoom__btn">+</div>
        <div class="range" id="range"></div>
        <div class="zoom__btn">-</div>
    </div>

    //= chart/chart.html

    //= chart-table/chart-table.html

    //= info/info.html

    <div class="main__advertising">
        <img src="../../assets/img/sidebar-advertising.jpg" alt="">
    </div>

    <div class="main__placing" data-toggle="modal" data-target="#modalPlacing">
        <button class="main__placing_btn">Размещение в котировке</button>
    </div>
    <!-- /.main__placing -->

</main>
<!-- /.main -->