@import "chart/chart";
@import "chart-table/chart-table";
@import "info/info";

.main__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main__data {
	font-size: 12px;
	color: rgba($black, 0.5);
}

.main__advertising {
	display: none;
}

.zoom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 50px;
	.custom-range {
		width: 200px;
		height: 5px;
		padding: 0 10px;
	}
}

.range {
	width: 70px;
	margin: 0 5px;
}

.zoom__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border: 1px solid $main;
	background-color: $white;
	color: $main;
	cursor: pointer;
}



@include media-breakpoint-down(md) {
	.main__advertising {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.main__placing {
		display: none;
	}
}
@include media-breakpoint-down(sm) {
	.main__info {
		flex-wrap: wrap;
		padding: 1em 0;
	}
	.main__info_left {
		width: 100%;
	}
	.main__info_right {
		width: 100%;
		margin-left: 0;
	}
	.main__info_left_block {
		margin-right: 20px;
	}
	.main__info_left_block_item {
		&:before {
			width: 30px;
			background-position: center right;
		}
	}
	.main__info_label {
		font-size: 12px;
		&:nth-child(2) {
			padding: 0 0 15px;
		}
	}
}
@include media-breakpoint-down(xs) {
	.main__placing_btn {
		width: 100%;
	}
}