form {
	.dropdown-toggle {
		height: 56px;
		color: #555555;
	}
}

.form-group {
	margin-bottom: 2rem;
}

.label {
	width: 100%;
}

.input {
	height: 56px;
	padding: 0 1rem;
	border-radius: 0;
	border: 1px solid #999999;
	color: #555555;
}