.slick-dots {
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	z-index: 2000;
	transition: all .3s;
	li {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			border-radius: 50%;
			border: 1px solid $white;
			background-color: transparent;
			outline: none;
			font-size: 0;
			cursor: pointer;
		}
	}
	.slick-active {
		button {
			border-color: #c04838;
			background-color: #c04838;
		}
	}
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 13px;
	height: 24px;
	padding: 0;
	box-shadow: none;
	border: none;
	outline: none;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	font-size: 0;
	cursor: pointer;
	z-index: 2000;
	transition: .3s;
	&:focus {
		outline: none;
	}
	&:before {
		display: none;
	}
}
.slick-prev {
	right: 30px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' viewBox='0 0 13 24'%3E%3Cg%3E%3Cg%3E%3Cpath d='M11.585.147a.497.497 0 0 1 .707.002.507.507 0 0 1 .056.643l-.058.07L1.21 11.967l11.256 11.17a.507.507 0 0 1 .063.642l-.057.07a.497.497 0 0 1-.638.064l-.07-.058L.15 12.33a.507.507 0 0 1-.06-.647l.058-.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' viewBox='0 0 13 24'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%231d91ff' d='M11.585.147a.497.497 0 0 1 .707.002.507.507 0 0 1 .056.643l-.058.07L1.21 11.967l11.256 11.17a.507.507 0 0 1 .063.642l-.057.07a.497.497 0 0 1-.638.064l-.07-.058L.15 12.33a.507.507 0 0 1-.06-.647l.058-.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}
.slick-next {
	right: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' viewBox='0 0 13 24'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23000000' d='M1.41.147a.497.497 0 0 0-.706.002.507.507 0 0 0-.056.643l.058.07 11.079 11.105L.529 23.137a.507.507 0 0 0-.063.642l.058.07a.497.497 0 0 0 .637.064l.07-.058L12.846 12.33a.507.507 0 0 0 .06-.647l-.058-.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' viewBox='0 0 13 24'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%231d91ff' d='M1.41.147a.497.497 0 0 0-.706.002.507.507 0 0 0-.056.643l.058.07 11.079 11.105L.529 23.137a.507.507 0 0 0-.063.642l.058.07a.497.497 0 0 0 .637.064l.07-.058L12.846 12.33a.507.507 0 0 0 .06-.647l-.058-.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}