.table {
	position: relative;
	img {
		max-height: none;
	}
	.tr {
		display: grid;
	}
	.thead {
		.th {
			padding: 0.7rem 1rem;
			border-right: 1px solid #dedede;
			background-color: #f6f7f8;
			font-weight: 400;
			font-size: 12px;
			&:last-child {
				border-right: none;
			}
		}
	}
	.tbody {
		.tr {
			border-bottom: 1px solid #dedede;
			.td {
				padding: 0.7rem 1rem;
				border-right: 1px solid #dedede;
				background-color: rgba(#f6f7f8, 0.35);
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}



@include media-breakpoint-down(sm) {
	.table {
		font-size: 12px;
	}
}