.info {
	position: absolute;
	top: 50%;
	right: -50px;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 2px solid $main;
	font-size: 18px;
	color: $main;
	text-transform: lowercase;
	cursor: pointer;
}

.h1 {
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	color: $main;
}



@include media-breakpoint-down(sm) {
	.h1 {
		font-size: 20px;
		.info {
			top: -10px;
			right: -15px;
			transform: none;
			width: 16px;
			height: 16px;
			border: 1px solid $main;
			font-size: 10px;
		}
	}
}