$white: #ffffff !default;
$black: #000000 !default;
$main: #1e90ff !default;
$age-1: #109b5b !default;
$age-2: #4a6d63 !default;
$age-3: #005246 !default;
$age-4: #6a3b53 !default;

$colors: () !default;
$colors: map-merge(
				(
						"white": $white,
						"black": $black,
						"main": $main,
						"age-1": $age-1,
						"age-2": $age-2,
						"age-3": $age-3,
						"age-4": $age-4,
				),
				$colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
				(
						"white": $white,
						"black": $black,
						"main": $main,
						"age-1": $age-1,
						"age-2": $age-2,
						"age-3": $age-3,
						"age-4": $age-4,
				),
				$theme-colors
);