@import "variables";
@import "reboot";

@import "buttons";
@import "titles";
@import "breadcrumb";
@import "table";
@import "dropdown";
@import "popover";
@import "slider";
@import "custom-scrollbar";
@import "tooltip";
@import "chart-hover";
@import "nouislider";
@import "form";
@import "toggle-content";

.content {
	display: grid;
	grid-template-columns: minmax(0, 264px) minmax(0, 1fr);
	grid-gap: 24px;
	padding-top: 30px;
	border-top: 1px solid $main;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 60px 0 80px;
	width: 100%;
	cursor: pointer;
}

.ratio-up {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-style: solid;
	border-width: 0 6px 10px 6px;
	border-color: transparent transparent #c1f6d4 transparent;
}

.ratio-down {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-style: solid;
	border-width: 10px 6px 0 6px;
	border-color: #ffc0c7 transparent transparent transparent;
}

.play {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='12' cy='12' r='11' stroke='%231E90FF' stroke-width='2'/%3E%3Cpath fill='%231E90FF' fill-rule='nonzero' d='M16.1 11.228l-5.657-4.056A.912.912 0 0 0 9 7.913v8.112a.912.912 0 0 0 1.443.74L16.1 12.71a.912.912 0 0 0 0-1.482z'/%3E%3C/g%3E%3C/svg%3E%0A");
	cursor: pointer;
}



@include media-breakpoint-down(lg) {
	.content {
		grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
		grid-gap: 16px;
	}
}
@include media-breakpoint-down(md) {
	.content {
		grid-template-columns: minmax(0, 1fr);
		grid-gap: 30px;
	}
	.banner {
		margin: 30px 0;
	}
}