.chart-table {
	//padding-top: 50px;
	display: none;
}

.chart-table__block {
	position: relative;
	margin-bottom: 80px;
}

.chart-table__block_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	padding: 0 8px;
	background-color: $gray;
	cursor: pointer;
	&.collapsed {
		.chart-table__block_menu_dropdown_text {
			&:before {
				content: 'Показать подгруппы';
			}
		}
		.chart-table__block_menu_arrow {
			transform: none;
		}
	}
}

.chart-table__block_menu_dropdown {
	display: flex;
	align-items: center;
}

.chart-table__block_menu_dropdown_text {
	&:before {
		content: 'Свернуть подгруппы';
		padding-right: 15px;
		font-size: 12px;
		white-space: nowrap;
	}
}

.chart-table__block_menu_arrow {
	position: relative;
	transform: rotate(180deg);
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%231e90ff' fill-rule='nonzero' d='M2.836 7a.5.5 0 0 0-.699.715L11.642 17a.5.5 0 0 0 .698 0l9.523-9.284A.5.5 0 1 0 21.165 7l-9.174 8.944L2.836 7z'/%3E%3C/svg%3E");
	transition: .3s;
}

.chart-table__subgroup {
	//overflow-x: auto;
	position: relative;
	display: flex;
	align-items: center;
	padding-right: 50px;
	border-bottom: 1px solid #dadada;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 50px;
		width: 62px;
		height: 100%;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.33) 0%, #ffffff 100%);
	}
	//padding: 0 20px;
	.mCSB_container {
		display: flex;
		align-items: center;
	}
}

.chart-table__subgroup_item {
	margin-right: 40px;
	padding-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}

.chart-table__subgroup_item_link {
	position: relative;
	display: block;
	padding: 15px 0;
	color: $black;
	transition: .3s;
	&:before {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: transparent;
	}
	&:hover {
		color: $main;
	}
	&.active {
		color: $main;
		&:before {
			background-color: $main;
		}
	}
}

.chart-table__block_menu_label {
	font-weight: 500;
	text-transform: uppercase;
	span {
		font-size: 12px;
		text-transform: none;
	}
}

.chart-table__block_list {
	height: 160px;
	overflow-y: auto;
	margin-top: 15px;
	&.active {
		height: auto;
		border-right: 1px solid rgba($black, 0.15);
		//.chart-table__block_list_item {
		//	padding-right: 16px;
		//}
	}
	.mCSB_inside {
		.mCSB_container {
			margin-right: 16px;
			&.mCS_no_scrollbar_y.mCS_y_hidden {
				margin-right: 0;
			}
		}
	}
	.mCSB_scrollTools {
		background-color: $gray;
		opacity: 1;
		transition: none;
		.mCSB_dragger {
			.mCSB_dragger_bar {
				width: 6px;
				border-radius: 3px;
				box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
				background-color: $white;
			}
		}
		.mCSB_draggerRail {
			background-color: transparent;
		}
	}
	.mCSB_draggerContainer {
		top: 5px;
		bottom: 5px;
	}
}

.chart-table__block_list_all {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $gray;
	&.active {
		.chart-table__block_list_all_arrow {
			transform: rotate(180deg);
		}
	}
}

.chart-table__block_list_all_arrow {
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%231e90ff' fill-rule='nonzero' d='M2.836 7a.5.5 0 0 0-.699.715L11.642 17a.5.5 0 0 0 .698 0l9.523-9.284A.5.5 0 1 0 21.165 7l-9.174 8.944L2.836 7z'/%3E%3C/svg%3E");
	background-color: $white;
	//transition: .3s;
}

.chart-table__block_list_item {
	display: grid;
	grid-template-columns: minmax(0, 72px) minmax(0, 1fr) minmax(0, 80px) minmax(0, 80px) minmax(0, 120px) minmax(0, 50px);
	border-bottom: 1px solid rgba($black, 0.15);
	//border-right: 1px solid rgba($black, 0.15);
	height: 40px;
	&:first-child {
		border-top: 1px solid rgba($black, 0.15);
	}
}

.chart-table__block_list_item_age {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	font-weight: 500;
	font-size: 18px;
	color: $white;
	text-transform: uppercase;
}

.chart-table__block_list_item_name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 15px;
	font-size: 14px;
}

.chart-table__block_list_item_ratio {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}

.chart-table__block_list_item_chart {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.chart-table__block_list_item_position {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 14px;
}

.chart-table__block_list_item_change {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 14px;
}

.chart-table__block_list_item_change_arrow {
	margin-left: 10px;
}