.chart-table {
	padding-top: 50px;
}

.chart-table__block {}

.chart-table__block_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	padding: 0 8px;
	background-color: $gray;
	cursor: pointer;
	&.collapsed {
		.chart-table__block_menu_dropdown_text {
			&:before {
				content: 'Показать подгруппы';
			}
		}
		.chart-table__block_menu_arrow {
			transform: none;
		}
	}
}

.chart-table__block_menu_dropdown {
	display: flex;
	align-items: center;
}

.chart-table__block_menu_dropdown_text {
	&:before {
		content: 'Свернуть подгруппы';
		padding-right: 15px;
		font-size: 12px;
		white-space: nowrap;
	}
}

.chart-table__block_menu_arrow {
	position: relative;
	transform: rotate(180deg);
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%231e90ff' fill-rule='nonzero' d='M2.836 7a.5.5 0 0 0-.699.715L11.642 17a.5.5 0 0 0 .698 0l9.523-9.284A.5.5 0 1 0 21.165 7l-9.174 8.944L2.836 7z'/%3E%3C/svg%3E");
	transition: .3s;
}

.chart-table__subgroup {
	display: flex;
	align-items: center;
	padding-top: 15px;
}

.chart-table__subgroup_item {
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}

.chart-table__subgroup_item_link {
	color: $black;
	transition: .3s;
	&:hover {
		color: $main;
	}
}

.chart-table__block_menu_label {
	font-weight: 500;
	text-transform: uppercase;
	span {
		font-size: 12px;
		text-transform: none;
	}
}

.chart-table__block_list {
	margin-top: 15px;
	border-right: 1px solid rgba($black, 0.15);
}

.chart-table__block_list_item {
	display: grid;
	grid-template-columns: minmax(0, 72px) minmax(0, 1fr) minmax(0, 80px) minmax(0, 80px) minmax(0, 120px) minmax(0, 50px);
	border-bottom: 1px solid rgba($black, 0.15);
	height: 40px;
	&:first-child {
		border-top: 1px solid rgba($black, 0.15);
	}
}

.chart-table__block_list_item_age {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	font-weight: 500;
	font-size: 18px;
	color: $white;
	text-transform: uppercase;
}

.chart-table__block_list_item_name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 15px;
	font-size: 14px;
}

.chart-table__block_list_item_ratio {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}

.chart-table__block_list_item_chart {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.chart-table__block_list_item_position {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 14px;
}

.chart-table__block_list_item_change {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 14px;
}

.chart-table__block_list_item_change_arrow {
	margin-left: 10px;
}