<div class="chart-table">

    <div class="chart-table__block">
        <div class="chart-table__block_menu">
            <div class="chart-table__block_menu_label">Услуги <span>(56 котировок)</span></div>
        </div>
        <ul class="chart-table__block_list">
            <li class="chart-table__block_list_item">
                <div class="chart-table__block_list_item_age bg-age-4">ADF</div>
                <div class="chart-table__block_list_item_name">Соляные комнаты «Солти»</div>
                <div class="chart-table__block_list_item_ratio">1000</div>
                <div class="chart-table__block_list_item_chart">
                    <img src="../../../assets/img/chart-1.png" alt="">
                </div>
                <div class="chart-table__block_list_item_position">Позиция: 10</div>
                <div class="chart-table__block_list_item_change">3</div>
            </li>
            <li class="chart-table__block_list_item">
                <div class="chart-table__block_list_item_age bg-age-3">FX</div>
                <div class="chart-table__block_list_item_name">Полное название</div>
                <div class="chart-table__block_list_item_ratio">1000</div>
                <div class="chart-table__block_list_item_chart">
                    <img src="../../../assets/img/chart-2.png" alt="">
                </div>
                <div class="chart-table__block_list_item_position">Позиция: 10</div>
                <div class="chart-table__block_list_item_change">3</div>
            </li>
            <li class="chart-table__block_list_item">
                <div class="chart-table__block_list_item_age bg-age-2">ADF</div>
                <div class="chart-table__block_list_item_name">Соляные комнаты «Солти»</div>
                <div class="chart-table__block_list_item_ratio">1000</div>
                <div class="chart-table__block_list_item_chart">
                    <img src="../../../assets/img/chart-1.png" alt="">
                </div>
                <div class="chart-table__block_list_item_position">Позиция: 10</div>
                <div class="chart-table__block_list_item_change">3</div>
            </li>
            <li class="chart-table__block_list_item">
                <div class="chart-table__block_list_item_age bg-age-1">FX</div>
                <div class="chart-table__block_list_item_name">Полное название</div>
                <div class="chart-table__block_list_item_ratio">1000</div>
                <div class="chart-table__block_list_item_chart">
                    <img src="../../../assets/img/chart-2.png" alt="">
                </div>
                <div class="chart-table__block_list_item_position">Позиция: 10</div>
                <div class="chart-table__block_list_item_change">3</div>
            </li>
        </ul>
    </div>
    <!-- /.chart-table__block -->

</div>
<!-- /.chart-table -->