<h3 class="sidebar-news__title mt-5 pt-5">Пишут о франшизе</h3>

<ul class="sidebar-news">
    <li>
        <a href="#">Петербургская зоогостиница запустит франшизу</a>
        <div class="data">
            <span class="date">сегодня в 15:27</span>
        </div>
    </li>
    <li>
        <a href="#">Алтайская «Грильница» появится в регионах</a>
        <div class="data">
            <span class="date">сегодня в 12:39</span>
            <a class="tag" href="#">франшиза фастфуда</a>,
            <a class="tag" href="#">франшизы в регионах</a>
        </div>
    </li>
    <li>
        <a href="#">В Минтруде рассказали об электронных трудовых книжках</a>
        <div class="data">
            <span class="date">вчера в 16:26</span>
            <a class="tag" href="#">новости законодательства</a>
        </div>
    </li>
    <li>
        <a href="#">Отель Azimut откроется в Дагестане</a>
        <div class="data">
            <span class="date">вчера в 15:26</span>
            <a class="tag" href="#">франшиза гостиницы</a>,
            <a class="tag" href="#">международный франчайзинг</a>
        </div>
    </li>
    <li>
        <a href="#">Тандыр-пекарни пробуют белорусский рынок</a>
        <div class="data">
            <span class="date">вчера в 11:38</span>
        </div>
    </li>
</ul>