.modal {
	background-color: rgba($black, .75);
	label {
		margin-bottom: 0;
	}
}

.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 60px 15px;
	border-radius: 0;
	border: none;
	background-color: $black;
	color: $white;
	text-align: center;
	.close {
		position: absolute;
		top: 0.5rem;
		right: 1rem;
		margin: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M1.532.132l.086.074L9.078 7.7 16.383.366l.086-.074a.7.7 0 0 1 .906 1.062l-7.307 7.339 7.523 7.557a.7.7 0 0 1-.905 1.061l-.087-.074L9.08 9.685l-7.678 7.712-.087.074A.7.7 0 0 1 .41 16.41l7.682-7.718L.626 1.194A.7.7 0 0 1 1.532.132z'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		color: $white;
		text-shadow: none;
	}
}

.modal-title {
	width: 100%;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}

.modal-step {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.modal-body {
	padding: 40px 60px;
}

.step-back {
	position: absolute;
	left: 0;
	padding-left: 1.2rem;
	color: $main;
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 9px;
		height: 17px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='17' viewBox='0 0 9 17'%3E%3Cg%3E%3Cg transform='rotate(-90 4.5 8.5)'%3E%3Cpath fill='%23399eff' d='M11.841 12.781a.927.927 0 0 1-1.209.134l-.09-.072-6.438-5.785-6.49 5.76a.927.927 0 0 1-1.217.01l-.082-.08a.903.903 0 0 1-.01-1.204l.08-.082 7.109-6.31a.927.927 0 0 1 1.141-.068l.091.072 7.053 6.34a.904.904 0 0 1 .062 1.285z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}



@include media-breakpoint-up(sm) {
	.modal-dialog {
		max-width: 560px;
	}
}

@include media-breakpoint-down(sm) {
	.modal-header {
		padding: 1rem;
	}
	.modal-body {
		padding: 2rem 1rem;
	}
}