<!-- Modal Placing -->
<div aria-hidden="true" aria-labelledby="modalPlacingLabel" class="modal fade" id="modalPlacing" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPlacingLabel">Размещение в котировке</h5>
                <div class="modal-step">
                    <div class="placingForm-1">
                        Шаг 1 из 3
                    </div>
                </div>
                <div class="modal-step">
                    <div class="placingForm-2">
                        Шаг 2 из 3
                        <span class="step-back step-back-1">Назад</span>
                    </div>
                </div>
                <div class="modal-step">
                    <div class="placingForm-3">
                        Шаг 3 из 3
                        <span class="step-back step-back-2">Назад</span>
                    </div>
                </div>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation placingForm-1" novalidate>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="Уже есть аккаунт? Укажите ваш логин" required
                                   type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="Название франшизы" required type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    id="categoryGroup" type="button">
                                Категория франшизы
                            </button>
                            <div aria-labelledby="categoryGroup" class="dropdown-menu">
                                <ul class="category__group dropdown-form-scroll">
                                    <li class="category__group_item">
                                        <div class="category__group_title">Группа</div>
                                        <ul class="category__group_list">
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="category__group_item">
                                        <div class="category__group_title">Группа</div>
                                        <ul class="category__group_list">
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="category__group_item">
                                        <div class="category__group_title">Группа</div>
                                        <ul class="category__group_list">
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                            <li class="category__group_list_item">
                                                <a class="dropdown-item" data-target="#categoryGroup"
                                                   href="#">Подгруппа</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="btn w-100 placingForm-1__btn" type="submit">Далее</button>
                </form>
                <form class="needs-validation placingForm-2" novalidate>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="Юридическое лицо, на которое зарег. франшиза"
                                   required
                                   type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="ИНН" required type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                        <div class="input-add">
                            <div class="input-add__icon">
                                +
                                <span class="info" data-container="body"
                                      data-content='Вы можете добавить несколько <br> юридических лиц, на которые <br> зарегестрирована франшиза '
                                      data-html="true"
                                      data-placement="right"
                                      data-toggle="popover">i</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="ФИО руководителя" required type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="Мобильный телефон" required type="tel">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="Электронная почта" required type="email">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="Веб-сайт" required type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn w-100 placingForm-2__btn" type="submit">Далее</button>
                </form>
                <form class="needs-validation placingForm-3" novalidate>
                    <div class="form-group">
                        <label class="label">
                            <input class="input form-control" placeholder="ФИО заполнившего анкету" required
                                   type="text">
                        </label>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    id="yearOpen" type="button">
                                Год открытия франшизы
                            </button>
                            <div aria-labelledby="yearOpen"
                                 class="dropdown-menu dropdown-menu-right dropdown-form-scroll dropdown__rear-open">
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2019</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2018</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2017</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2016</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2015</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2014</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2013</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2012</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2011</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2010</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2009</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2008</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2007</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2006</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2005</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2004</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2003</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2002</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2001</a>
                                <a class="dropdown-item" data-target="#yearOpen" href="#">2000</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" id="agree-1" required type="checkbox">
                            <label class="custom-control-label" for="agree-1">
                                Обязуюсь предоставлять достоверную финансовую и юридическую информацию.
                                <br>
                                <a href="/" class="form-link" target="_blank">Предоставляемые документы</a>
                            </label>
                            <div class="invalid-feedback">Example invalid feedback text</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" id="agree-2" required type="checkbox">
                            <label class="custom-control-label" for="agree-2">
                                Подтверждаю согласие на обработку персональных данных
                                <br>
                                <a href="/" class="form-link" target="_blank">Оферта</a>
                            </label>
                            <div class="invalid-feedback">Example invalid feedback text</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <a href="/" class="form-link" target="_blank">Политика конфиденциальности</a>
                        </div>
                        <div class="mb-3">
                            <a href="/" class="form-link" target="_blank">Правила пользования сайтом</a>
                        </div>
                    </div>
                    <button class="btn w-100 placingForm-3__btn" type="submit">Отправить форму</button>
                </form>
            </div>
        </div>
    </div>
</div>